@media screen and (max-width:1199px){
html{
    font-size: 15px;
}
}

@media screen and (max-width:991px){
 .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2rem;
        width: 2rem;
    }
    .nav_topbar .brand-container a {
    display: none;
}
.nav_topbar {
    justify-content: center;
}
.navigation-bar {
    justify-content: space-between;
}
.brand-container a {
    display: inline-block;
}
.nav_topbar .social_profile {
    margin-top: 5px;
    margin-bottom: 5px;
}
.common-text {
max-width: 100%;
padding: 0 20px;
}

.common-text h2 {
font-size: 45px;
}
.form-container {
    padding: 0;
}
.contact-us-group {
    padding: 0;
}
.form-image {
    height: 300px;
    margin-bottom: 1.875rem;
}
}


@media screen and (max-width:767px){
    html{
        font-size: 14px;
    }
    .img_part {
        height: 300px;
    }
    .card-img {
        height: 20rem;
    }
    .copy_txt p {
        text-align: center;
    }
    .ssl_certi {
        justify-content: center;
     }
     .why-choose-heading h2 {
        font-size: 2rem;
    }
    .text_part {
        padding:2rem 0 0 0;
    }
    .sub-banner-content h1 {
        font-size: 2rem;
    }
}


@media screen and (max-width:575px){
    .brand-container a {
    width: 10.75rem;
}
.menu-toggle-btn {
    width: 1.5rem;
    height: 1.5rem;
}
.privacy-container {
margin: 20px;
padding: 20px;
}

.privacy-title {
font-size: 1.8rem;
}

.privacy-heading {
font-size: 1.2rem;
}

.table_wrap {
    overflow-x: scroll;
}
table {
    min-width: 31.25rem;
}
.card-img {
    height: 15rem;
}
.banner_content h1 {
    font-size: 2rem;
}
.slick-list.draggable {
    height: 30.75rem;
}
.section-heading h2 {
    font-size: 2rem;
}
.pb-80 {
    padding-bottom: 3rem;
}
.pt-80 {
    padding-top: 3rem;
}
.blog_desc {
    padding: 2em 1rem;
}
.blog_desc img {
    height: 23.25rem;
}
.why-choose-heading h2 {
    font-size: 1.7rem;
}
.blog-heading h2 {
    font-size: 2rem;
}
.sub-banner {
    height: 25.125rem;
}
}




@media screen and (max-width: 480px) {
.common-text h2 {
font-size: 40px;
}
.signup_form {
    flex-direction: column;
}
.banner_content h1 {
    font-size: 1.6rem;
}
.blog_desc img {
    height: 17.25rem;
}
.sub-banner {
    height: 20.125rem;
}
}