@media screen and (max-width:1199px){
html{
    font-size: 15px;
}
}

@media screen and (max-width:991px){
 .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2rem;
        width: 2rem;
    }
    .nav_topbar .brand-container a {
    display: none;
}
.nav_topbar {
    justify-content: center;
}
.navigation-bar {
    justify-content: space-between;
}
.brand-container a {
    display: inline-block;
}
.nav_topbar .social_profile {
    margin-top: 5px;
    margin-bottom: 5px;
}
.common-text {
max-width: 100%;
padding: 0 20px;
}

.common-text h2 {
font-size: 45px;
}
}


@media screen and (max-width:767px){
    html{
        font-size: 14px;
    }
    .img_part {
        height: 300px;
    }
}


@media screen and (max-width:575px){
    .brand-container a {
    width: 10.75rem;
}
.menu-toggle-btn {
    width: 1.5rem;
    height: 1.5rem;
}
.privacy-container {
margin: 20px;
padding: 20px;
}

.privacy-title {
font-size: 1.8rem;
}

.privacy-heading {
font-size: 1.2rem;
}

.table_wrap {
    overflow-x: scroll;
}
table {
    min-width: 31.25rem;
}
}




@media screen and (max-width: 480px) {
.common-text h2 {
font-size: 40px;
}
}