@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

s * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    /* color:; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    line-height: 1;
    letter-spacing: 0.6px;
}

/* body {
    background-color: #2d0572;
} */

.main-scroll {
    overflow: hidden;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #d5f637;
    border-radius: 10px;
}

.heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    line-height: 40px;
    margin-bottom: 15px;
}

p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

/* header css start */

.header-section {
    background-color: #fff;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.10);
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #000;
}


.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-80 {
    padding-top: 5rem;
}

.mt-80 {
    margin-top: 5rem;
}

.pt-120 {
    padding-top: 120px;
}

.pb-80 {
    padding-bottom: 5rem;
}

.py-80 {
    padding: 5rem  0;
}

.bg_light {
    background-color: #fff;
}

.text_dark {
    color: #191919;
}

/* 
=================================
Mobile Menu Styles
=================================
*/

/* Header CSS Start */
.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
    background-color: #111;
    padding: 0.4rem 0;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 0;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.brand-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.brand-container a,
.footer_logo {
    background-image: url(../images/logo.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 14.75rem;
    display: none;
}

.footer_logo {
    display: inline-block;
}

.menu-toggle-btn {
    display: none;
    width: 2rem;
    height: 2rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-menu {
    display: flex;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu ul li a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}


.navigation-menu ul li a:hover {
    color: #d5f637;
}

.navigation-menu ul li a.active {
    color: #d5f637;
}

.navigation-menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d5f637;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.navigation-menu ul li a.active::after {
    transform: scaleX(0.9);
    background: #d5f637;
    transform-origin: center;
}

.navigation-menu ul li a:hover::after {
    transform: scaleX(0.9);
}

.menu-close-btn {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}



.topbar {
    background: #000;
    color: #d5f637;
    font-size: 14px;
}

.marquee-container {
    margin: 0 auto;
    width: 300px;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.nav_topbar .brand-container a {
    display: inline-block;
}

.nav_topbar_wrapper {
    background-color: #313131;
}

.nav_topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_topbar .social_profile ul li a {
    border: none;
}

.nav_topbar .social_profile ul li a {
    border: none;
    background: transparent;
}

.nav_topbar .social_profile ul li a svg {
    fill: #d5f637;
}

.nav_topbar .social_profile ul li a:hover {
    border: none;
    color: #d5f637;
}

.nav_topbar .social_profile {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Mobile Menu Active State */

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
}

/* 
=================================
Keyframe Animations
=================================
*/
@keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* banner section css start */


.hotel_cat_cards {
    overflow: hidden;
}

.slick-list.draggable {
    height: 43.75rem;
}

body .slick-track {
    height: 100%;
}

.banner_slides {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}


.slide_content {
    text-align: center;
    padding: 0 0.9375rem;
}

.slick-prev:before,
.slick-next:before {
    font-size: 2.1875rem;
    opacity: 1;
}

.hotel_cat_cards button.slick-prev {
    left: 0;
    z-index: 1;
}

.hotel_cat_cards button.slick-next {
    right: 0;
    z-index: 1;
}

.hotel_cat_cards .slick-arrow {
    width: auto !important;
    height: auto !important;
}

.slick-prev svg,
.slick-next svg {
    width: 3rem;
    height: 3rem;
    fill: #d5f637;
    transition: all 0.3s ease;
    z-index: 10;
}

.slick-prev:hover svg,
.slick-next:hover svg {
    opacity: 1;
    transform: scale(1.05);
}

.banner_content h1 {
    font-size: 2.5rem;
    color: #d5f637;
    line-height: 1.4;
    max-width: 650px;
}


.banner_content h3 {
    color: #fff;
    font-size: 1.5rem;
}

.banner_content p {
    font-size: 1rem;
    color: #fff;
    max-width: 900px;
    margin-top: 1rem;
}

/* banner section end */


/* after banner css start */

.after-banner-heading h2 {

    font-size: 40px;
    text-align: center;
    line-height: 40px;
    color: #191919;
}

.after-banner {
    background-color: #ebecf2;
}

.after-banner-image {
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}


.after-banner-text p {
    font-size: 18px;
    font-weight: 600;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    line-height: 27px;
    padding-top: 20px;
    color: #242528;
}

.after-banner-text h5 {
    font-size: 25px;
    color: #242528;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
}

.getknow {
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #d5f637;
    border: 2px solid #d5f637;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.getknow:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #d5f637;
    transition: 0.3s all ease-in-out;
}

.home-button {
    margin-top: 20px;
}


/* card section css start */

.section-heading {
    text-align: center;
}

.section-heading h2 {
    color: #191919;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;

}

.section-heading h5 {
    font-size: 1.5625rem;
    color: #363636;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}

.section-heading p {
    color: #000;
    font-size: 1.125rem;
    line-height: 25px;
}

.product-heading h5 {
    font-size: 1.5625rem;
    color: #000;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}

.card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25rem;
    position: relative;
    object-fit: cover;
}

.card-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(214, 246, 55, 0.30);
    border-radius: inherit;
    transition: all 0.2s linear;
    transform: scale(0);
}

.card-img:hover::before {
    transform: scale(1);
}

.card-text p {
    color: #000;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 25px;
}

.card-text p:first-child {
    font-weight: 600;
}

.card-text p:nth-child(2) {
    font-size: 0.9375rem;
    font-weight: 400;
}

.card-text {
    padding: 10px 0;
}

.card-text p span {
    color: #313131;
    font-size: 1rem;
    font-weight: 700;
}

.card-section-seocnd {
    background-color: #eef2f5;
}

.product_cards {
    /* background: #f5f5f7; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 100%;
    padding:0 0 1.25rem 0;
    border-radius: .625rem;
}
/* card section css end */

/*why choose us css start  */
.why-chhose-us {
    background-color: #eef2f5;
}

.why-choose-heading {
    text-align: center;
    margin-bottom: 40px;
}
.why-choose-heading h2 {
    color: #191919;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
}
.why-choose-inner {
    max-width: 60rem;
    margin: 0 auto;
}
.why-choose-inner.why_home {
    max-width: 100%;
}
.why-choose-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 4.375rem;
    height: 4.375rem;
    margin-bottom: 16px;
}
.why-choose-main {
    padding: 2.5rem 1.25rem;
    background: #d5f637;
    border-radius: 15px;
    box-shadow: inset rgb(0 0 0 / 25%) 1.95px 1.95px 6px 2px;
    transition: .3s ease-in-out;
    height: 100%;
}
.why-choose-main:hover {
    transform: translateY(-10px);
}
.why-choose-main h5 {
    font-size: 1.25rem;
    color: #191919;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 0.625rem;
}
.why-choose-main p {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}
/* why choose us css end */



/* newslatter section css start */
.explore-section {
    padding-block: 74px;
    background-image: url("../images/signup-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    /* margin-bottom: 60px; */
}

.signup::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 55%);
    z-index: 0;
}

.signup .container {
    z-index: 1;
    color: var(--white-color);
}

.signup_innerSec {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 30px 16px;
    background-color: rgb(0 0 0 / 56%);
}

.signup_heading {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.signup_desc {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #fff;
}

.signup_form {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: transparent;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 12px;
    border-radius: 8px;
    margin-top: 1.3rem;
}

.signup_input {
    border-radius: 4px;
}

.submit_btn {
    border-radius: 4px;
}

.signup_email {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 65%;
    margin: 0 auto;
    align-items: center;
}

.signup_input {
    padding: 7px 16px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
}

.signup_email::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.signup_form .signup_input {
    width: 100%;
    border: 1px solid transparent;
    padding: 14px 16px;
    border-radius: 50px;
}

.submit_btn {
    width: 130px;
    color: #fff;
    border-color: transparent;
    background-color: #3e5541;
}

.signup_content {
    max-width: 85%;
    margin-inline: auto;
}

.signup_content h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.subscribe_btn:hover {
    border-color: #fff;
    color: #fff;
}


/* newslatter section css end */



/* latest blog css start */

.blog-heading {
    text-align: center;
    margin-bottom: 40px;
}

.latest-blog-content {
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

.latest-blog-content:hover {
    transform: translateY(-10px);
}

.latest-blog-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.latest-blog-text span {
    font-size: 70px;
    color: #fe8f9c;
    font-weight: 700;
}

.latest-blog-text p {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.latest-blog-text h5 {
    font-size: 20px;
    color: #3b3b3b;
    line-height: 25px;
    max-width: 300px;
}

.blog-heading h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #191919;
    line-height: 40px;
}

.bloging {
    padding-top: 20px;
}

/* latest blog css end */



/* Footer  CSS Start */
.footer {
    background-color: #111111;
}

.self_footer h4 img {
    max-width: 250px;
}

.self_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 90px;
    background: #d5f637;
    margin-top: 20px;

}

.self_footer h4 {
    color: #d5f637;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.;

}

.self_footer p {
    color: #d5f637;
    text-transform: uppercase;
    font-weight: 700;
}

.self_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.self_footer ul li {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.self_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 1.2;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}

.self_footer ul li a:hover {
    color: #d5f637;
}

.self_footer_address ul li {
    color: #fff;
    font-size: 15px;
    margin-bottom: 0.625rem;
}

.self_footer_address ul li span {
    font-weight: 400;
    color: #d5f637;
    line-height: 28px;
}

.self_footer {
    margin-bottom: 20px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.self_footer p a {
    color: #fff;
    text-transform: lowercase;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 8px 0 0;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    width: 2.8125rem;
    height: 2.8125rem;
    border: 2px solid #d5f637;
    background: #d5f637;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social_profile ul li a:hover {
    transform: translateY(-3px);
}

.copyright {
    padding: 20px 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
}



.copyright a {
    color: #fff;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: var(--secondary-color);
}

.social_profile ul li a svg {
    height: 100%;
    width: 100%;
    fill: #000;
}

.social_profile ul li a {
    border: 1px solid #d5f637;
    padding: 12px;
}

.bottom_strip {
    border-top: 1px solid #d5f637;
}

.copy_txt p {
    font-size: 1rem;
    color: #fff;
}

.ssl_certi {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.625rem 0;
}

.ssl_certi_inner {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 12.5rem;
    background-image: url(../images/ssl.png);
}

.disclamer-heading {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #d5f637;
}


.disclamer-heading h5 {
    font-size: 25px;
    color: #d5f637;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 20px;
}

.disclamer-heading p {
    color: #fff;
    font-size: 1.125rem;
    line-height: 25px;
}

/* Footer CSS End */


/* skking-product css start */

.product-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 1.25rem;
    object-fit: cover;
}

.product-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(213, 246, 55, 0.3);
    border-radius: inherit;
    transition: all 0.2s linear;
    transform: scale(0);
}

.product-image:hover::before {
    transform: scale(1);
}



.product-text {
    padding: 0 0.625rem;
}

.product-name a {
    color: #191919;
    font-size: 1rem;
    font-weight: 600;
}

.product-name {
    margin-bottom: 10px;
    color: #111111;
    padding: 0 0.625rem;
}

.product-content .row .col-md-3 {
    margin-top: 20px;
}



/* skking-product css start */











section.common-banner {
    background: #2d0572;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 28.125rem;
    position: relative;
}

.common-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    width: 100%;
}

.common-text h2 {
    font-size: 3.75rem;
}

.common-text p {
    font-size: 1.125rem;
    line-height: 1.4;
    padding-top: 0.875rem;
    color: #fff;
}


.privacy-container {
    max-width: 1200px;
    margin: 3.125rem auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.privacy-section p {
    font-size: 1rem;
}

.privacy-section li {
    font-size: 1rem;
    list-style-type: disc;
}

.privacy-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #2d0572;
}

.privacy-section {
    margin-bottom: 2.5rem;
}

.privacy-heading {
    font-size: 1.5625rem;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #eaeaea;
    color: #000;
}

.privacy-text {
    margin-bottom: 0.625rem;
    color: #000;
}

.privacy-list {
    padding-left: 1.25rem;
    margin-bottom: 1.25rem;
}

.privacy-list li {
    margin-bottom: 0.625rem;
}

.privacy-section a {
    color: #000;
    text-decoration: none;
}

.privacy-section a:hover {
    text-decoration: underline;
}

/* sub pages css start  */
.sub-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
    height: 28.125rem;
    position: relative;
}

.sub-banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.sub-banner-content h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

.sub-banner-content p {
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
}




.img_part {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text_part {
    padding: 3rem 1.875rem;
}

.text_part h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.text_part p {
    font-size: 1.1rem;
    line-height: 1.4;
}

.text_part h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.text_part p a {
    color: #E66A31;
    text-decoration: underline;
    text-underline-offset: 5px;
}


/* what bs offer css start */
.about_last_wrap {
    padding: 6rem 3rem;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
}
.what-be-main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 330px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px solid #d5f637;
}

.what-be-text {
    text-align: center;
}

.what-be-text h5 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 600;
}

.what-be-heading h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.what-be-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 30px;
}

.what-be-footer-text {
    margin-top: 30px;
    text-align: center;
}

/* what bs offer css end */





/* Blog Description Pages CSS Start */

.blog_desc img {
    object-fit: cover;
    object-position: center;
    height: 31.25rem;
    width: 100%;
}

.blog_desc {
    padding: 2.5rem 1.875rem;
    border-radius: 20px;
    box-shadow: #191919 0px 3px 8px;
    background: #111111;
}

.blog_description_sec hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #d6f637b7;
    opacity: 1;
}

.blog_desc p {
    color: #313131;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
}

.blog_desc li {
    list-style-type: disc;
    margin-left: 1rem;
}

.blog_desc li::marker {
    color: #d5f637;
}

.blog_desc ul li p {
    line-height: 1;
}

.blog_desc h3 {
    font-size: 1.5rem;
    color: #fff;
}

.blog_desc h2 {
    font-size: 2rem;
    color: #d5f637;
}

.blog_desc h5 {
    font-size: 1.2rem;
    color: #fff;
}

.blog_desc table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #818181;
}

.blog_desc table th,
.blog_desc table td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #818181;
}

.blog_desc table th {
    background-color: #d5f637;
    color: #000;
}

.blog_desc table tr:hover {
    background-color: #f1f1f1;
}

.blog_desc .table_wrap {
    max-width: 600px;
}

/* Blog Description Pages CSS End*/

/* Blog Page CSS Start */
.blog_cards {
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
}

.blog_cards_image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
}

.blog_cards_image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(213, 246, 55, 0.3);
    border-radius: inherit;
    transition: all 0.2s linear;
    transform: scale(0);
}

.blog_cards_image:hover::before {
    transform: scale(1);
}

.blog_cards_txt {
    padding: 1.25rem;
}

.blog_cards_txt span {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
    display: inline-block;
}
.blog_cards_txt span:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* Blog Page CSS End */

/* Contact Page CSS Start */
.contact-top_card_icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
    width: 5rem;
}
.bg_dark{
    background-color: #111;
}
.contact_top_card {
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: 100%;
    overflow: hidden;
    border-top: 5px solid #d5f637;
    border-bottom: 5px solid #d5f637;
}
.contact_top_card p{
    color: #fff;
    font-size: 1.1rem;
}
.contact_top_card p a{
    color: #d5f637;
    font-weight: 500;
}
.text_theme{
    color: #d5f637;
}
.text_white{
    color: #fff;
}
.contact_top_card hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #d6f637b7;
    opacity: 1;
}




.inner_pages_banner.contact_banner {
    height: 25rem;
}
#contact {
    background-image: url("../images/how-we-compare-bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.contact_us_content .row {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.contact_us_content fieldset:last-child {
    margin-bottom: 0;
}

.contact_us_content #contact button {
    margin-bottom: 0;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input,
#contact textarea,
#contact select {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 0.625rem;
    border-radius: 5px;
    font-size: 1rem;
}

#contact input:hover,
#contact textarea:hover,
#contact select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}


#contact textarea {
    height: 6.25rem;
    max-width: 100%;
    resize: none;
}

#contact select {
    max-width: 100%;
    color: #444546;
    outline: none;
}




.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;

}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
    color: #818181;
}

:-moz-placeholder {
    color: #818181;
}

:-ms-input-placeholder {
    color: #818181;
}

.contact-us-group {
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    border-radius: 8px;
    overflow: hidden;
}


.contact_us_sec {
    margin-top: 2.5rem;
}
.form-image {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.form-container {
    padding: 20px;
}
.form-wrapper {
    height: 100%;
    width: 100%;
}
/* Contact Page CSS End*/


/* Fixes */
.privacy-subheading {
    font-size: 1.1rem;
    margin-bottom: 0.625rem;
    line-height: 1.5;
}


/* Fixes */